.Data {
  z-index: 1;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  margin-top: 15%;
  width: 100%;
  height: auto;
  font-size: 40px;
  font-family: 'Prompt', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  color: white;
  /* background-color: rgba(179, 183, 179, 0.134); */
}
.Detail {
  z-index: 1;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  margin-top: 20%;
  width: 100%;
  height: auto;
  font-size: 25px;
  font-family: 'Prompt', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  color: white;
  /* background-color: rgba(179, 183, 179, 0.134); */
}
.DivTitle {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin-top: 28%;
  /* background-color: rgba(179, 183, 179, 0.134); */
}
.DivT1 {
  text-align: center;
  width: 20%;
  height: auto;
}
.DivT2 {
  text-align: center;
  width: 20%;
  height: auto;
  margin-left: 10%;
}
.Title {
  font-size: 30px;
  color: white;
}
@media (max-width: 1200px) {
  .Data {
    font-size: 35px;
    font-family: 'Prompt', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .Detail {
    font-size: 20px;
    font-family: 'Prompt', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .Title {
    font-size: 25px;
    font-family: 'Prompt', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
}
@media (max-width: 992px) {
  .Data {
    font-size: 30px;
    font-family: 'Prompt', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .Detail {
    font-size: 15px;
    font-family: 'Prompt', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .Title {
    font-size: 20px;
    font-family: 'Prompt', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
}
@media (max-width: 768px) {
  .Data {
    font-size: 15px;
    font-family: 'Prompt', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .Detail {
    font-size: 10px;
    font-family: 'Prompt', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .Title {
    font-size: 10px;
    font-family: 'Prompt', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
}
@media (max-width: 400px) {
  .Data {
    font-size: 10px;
    font-family: 'Prompt', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .Detail {
    font-size: 7px;
    font-family: 'Prompt', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .Title {
    font-size: 5px;
    font-family: 'Prompt', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
}

/* About US เกี่ยวกับเรา ----------------------------------*/
.DivAbout {
  text-align: center;
  width: 100%;
  height: auto;
}
.AboutTitle {
  font-size: 50px;
  font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
}
.AboutDetail {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 22px;
  font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
}
@media (max-width: 1200px) {
  .AboutTitle {
    font-size: 45px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .AboutDetail {
    font-size: 20px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
}
@media (max-width: 992px) {
  .AboutTitle {
    font-size: 35px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .AboutDetail {
    font-size: 18px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
}
@media (max-width: 768px) {
  .AboutTitle {
    font-size: 25px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .AboutDetail {
    font-size: 16px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
}
@media (max-width: 400px) {
  .AboutTitle {
    font-size: 20px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .AboutDetail {
    font-size: 14px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
}

/* Perks & Benefits ------------- */
.DivPerks {
  display: flex;
  align-items: center; /* จัดให้องค์ประกอบอยู่ตรงกลางแนวตั้ง */
  /* width: 100%; */
  height: auto;
  padding-left: 8%;
  padding-right: 8%;
  background-color: rgba(179, 183, 179, 0.134);
}
.DivPerks2 {
  display: flex;
  align-items: flex-start; /* จัดให้อยู่ชิดด้านบน */
  /* width: 100%; */
  height: auto;
  padding-left: 8%;
  padding-right: 8%;
  background-color: rgba(179, 183, 179, 0.134);
}
.DivP1 {
  display: flex;
  align-items: flex-start; /* จัดให้อยู่ชิดด้านบน */
  width: 40%;
  height: auto;
}
.DivP2 {
  display: flex;
  flex-direction: row;    /* จัดเรียงองค์ประกอบย่อยในแนวนอน */
  justify-content: center; /* จัดการช่องว่างระหว่างองค์ประกอบย่อย (ออปชั่น) */
  align-items: center;
  width: 60%;
  flex-wrap: wrap;           /* ทำให้ flex items ห่อกลับเป็นแถวใหม่เมื่อความกว้างของหน้าจอแคบลง */
  height: auto;
  padding-left: 10px;
}
.DivPrice {
  display: flex;
  align-items: flex-start; /* จัดให้อยู่ชิดด้านบน */
  /* width: 100%; */
  height: auto;
}
.Perks {
  font-size: 50px;
  font-family: 'Prompt', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  color: black;
}
.PerksTitle {
  font-size: 30px;
  margin-left: 10px;
  font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  color: black;
}
.PerksDetail {
  font-size: 20px;
  font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  color: black;
}
.PerksPrice {
  display: flex;
  align-items: center; /* จัดให้องค์ประกอบอยู่ตรงกลางแนวตั้ง */
  font-size: 30px;
  font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  color: #000;
}
.PriceValue {
  margin-left: 5px;
  margin-right: 5px;
  background: radial-gradient(at left, #f43607 48%, #ff44fff1 20%);
  -webkit-background-clip: text; /* ทำให้พื้นหลังแสดงผ่านตัวอักษร */
  -webkit-text-fill-color: transparent; /* ทำให้สีเติมในตัวอักษรโปร่งใส */
}
.DetailColor {
  color: #e664e8;
}
.Price1 {
  display: grid;
  justify-content: center; /* จัดให้อยู่ตรงกลางในแนวนอน */
  align-items: center; /* จัดให้อยู่ตรงกลางในแนวตั้ง */
  width: 50%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
}
.Services {
  display: grid;
  justify-content: center; /* จัดให้อยู่ตรงกลางในแนวนอน */
  align-items: center; /* จัดให้อยู่ตรงกลางในแนวตั้ง */
  border-radius: 50px;         /* กำหนดรัศมีความโค้งของขอบ */
  width: 200px;
  padding: 10px;
  margin-bottom: 40px;
  color: #ffffff;
  background-color: #000;
  font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
}
.webDetail {
  display: grid;
  text-align: center;
  justify-content: center; /* จัดให้อยู่ตรงกลางในแนวนอน */
  align-items: center; /* จัดให้อยู่ตรงกลางในแนวตั้ง */
  font-size: 20px;
  font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
}
@media (max-width: 1200px) {
  .Perks {
    font-size: 45px;
    font-family: 'Prompt', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .PerksTitle {
    font-size: 25px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .PerksDetail {
    font-size: 16px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .PerksPrice {
    font-size: 25px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .webDetail {
    font-size: 15px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .Services {
    width: 150px;
    font-size: 15px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
}
@media (max-width: 992px) {
  .Perks {
    font-size: 35px;
    font-family: 'Prompt', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .PerksTitle {
    font-size: 20px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .PerksDetail {
    font-size: 14px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .PerksPrice {
    font-size: 20px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .webDetail {
    font-size: 10px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .Services {
    width: 130px;
    font-size: 15px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
}
@media (max-width: 768px) {
  .Perks {
    font-size: 25px;
    font-family: 'Prompt', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .PerksTitle {
    font-size: 15px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .PerksDetail {
    font-size: 13px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .PerksPrice {
    font-size: 16px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .webDetail {
    font-size: 7px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .Services {
    width: 120px;
    font-size: 13px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
}
@media (max-width: 400px) {
  .Perks {
    font-size: 20px;
    font-family: 'Prompt', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .PerksTitle {
    font-size: 10px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .PerksDetail {
    font-size: 12px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .PerksPrice {
    font-size: 14px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .webDetail {
    font-size: 5px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .Services {
    width: 100px;
    font-size: 10px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
}
/* Contact us ------------- */
.DivContact {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10%;
  background-color: rgba(179, 183, 179, 0.527);
}
.DivC1 {
  display: flex;
  align-items: center; 
  width: 100%;
  height: auto;
}
.DivC2 {
  display: flex;
  align-items: center; 
}
.ContactDetail {
  margin-left: 3%;
  font-size: 30px;
  width: 100%;
  font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
}
.contactBox {
  position: absolute;
  text-align: center;
  justify-content: center; /* จัดให้อยู่ตรงกลางในแนวนอน */
  width: 100%;
  height: auto;
  color: #000;
  background-color: #413D31;
}
.contactBoxText {
  color: #ffffff;
}
@media (max-width: 1200px) {
  .ContactDetail {
    font-size: 20px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
  .contactBox {
    font-size: 10px;
  }
}
@media (max-width: 992px) {
  .ContactDetail {
    font-size: 15px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
}
@media (max-width: 768px) {
  .ContactDetail {
    font-size: 13px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
}
@media (max-width: 400px) {
  .ContactDetail {
    font-size: 7px;
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์เป็น Mitr */
  }
}